body {
    background: rgba(135,181,181,255);
   
}
img {
    max-width: 100%;
    max-height: 100%;
    
}
blockquote {
    border-left: 5px solid rgba(34,75,75,255);
    padding: 10px 5px;
    margin-left: 20px
}
table, td, th {  
    border: 1px solid rgba(34,75,75,255);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    
  }
  
  th, td {
    padding: 5px;
  }
#preview {
    
    background: rgba(192,216,216,255);
    
    padding: 0px 15px;   
    
    border-top-width: 0;
    
}
#previewContainer {
    border: 1px solid black;
    
    width: 800px; 
    background: rgba(192,216,216,255);  
    padding: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);    
    margin: 20px auto;
    z-index: auto;
}
#previewContainer h4{
    position: relative;
    display: flex;
    background: rgba(74,163,163,255);
    border: 1px solid black;
    margin: 0;
    padding: 8px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-top: 0;
    z-index: 1;
}
#previewContainer h4 .fa-expand-arrows-alt{
    position: relative;
    margin-left: 83%;
}

#editorContainer h4 .fa-expand-arrows-alt{
    position: relative;
    margin-left: 82%;
}
.fa-expand-arrows-alt:hover {
    color: rgba(87,223,174,255);

}
.fa-free-code-camp {
    margin-right: 1%;
}
#editorContainer h4{
    background: rgba(74,163,163,255);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    margin: 0;
    padding: 8px;
}
#editor {
    height: 200px;
    background: rgba(192,216,216,255);
    border: 1px solid black;
    border-top-width: 0;
    
}
#editorContainer {
    width: 600px;
    margin: 20px auto;
    padding: 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

}

